body{
    margin: 0;
    padding:0 ;
      background: linear-gradient(225deg, #fd05fd, #f08b07ef, #19b4f7); 
    color: #fdfffc;
    height: 100vh;
    text-align: center;
     /* background-image: url("https://cdn.pixabay.com/photo/2020/07/27/14/34/stars-5442598_1280.jpg");  */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h1{
    font-size: 105px;
    
}
input{
    width: 175px;
    height: 120px;
    font-size: 65px;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    color: black;
    border-style: none;
}
.btn:hover{
    background-color: yellow;
    cursor: pointer;
}